@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

:root {
    --font-color-default: #222;
    --font-color-accent: #345995;
    --border-radius: 20px;
    --box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", arial, sans-serif;
  color: #222;
}
#profile-card {
  height: 300px;
  width: 500px;
  padding: 20px;
  border-radius: var(--border-radius);
  background: var(--profile-card-bg);
  position: relative;
  box-shadow: var(--box-shadow);
  }
#profile-card .profile-img {
    height: 100px;
    width: 100px;
    background: url('headshot.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -25px;
    left: -25px;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
  }
  #profile-card h1 {
    font-family: "Roboto", arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: var(--font-color-accent);
  }
  #profile-card .description {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
  }
  #profile-card .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    margin: 0 auto;
}
#profile-card .social a {
    text-align: center;
    padding: 5px 0;
}
#profile-card .social a:hover {
    color: white;
    cursor: pointer;
}
#profile-card .footer {
    border: none;
    outline: 0;
    display: inline-block;
    background: radial-gradient(circle, rgba(107,141,198,1) 0%, rgba(52,89,149,1) 100%);
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 60px;
    padding: 0 20px;
    margin-left: -20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#profile-card .footer:hover {
    opacity: 0.7;
    cursor: pointer;
}